extends layout.pug

block number1
  if error
    p.error Fill the line bellow, please

  if success
    p.success Well done!

  if deleted
    p.success Successfully deleted

  form.form(action= '/add' method='POST')
    input.input(type='text' placeholder='Name and author of the book...' name ='book')
    button.btn Add

  div.books
    if books.length
      each book in books
        p.book 
          if book.read
            a.read(href=`/${ book.id}/update`) #{ book.info }
          else
            a.unread(href=`/${ book.id}/update`) #{ book.info }
          a.delete(href=`/${ book.id }/delete`) Delete
    else
      p.book No any books here
